<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resultados del Análisis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Resultados del Análisis</h1>

        <h2 class="mt-4">Tipo de variable analizada: {{ tipo_variable }}</h2>

        <h3 class="mt-4">Tabla de Distribución de Frecuencias</h3>
        {{ tabla | safe }}

        <h3 class="mt-4">Gráficos</h3>
        <div class="row">
            <div class="col-md-6">
                <h4>Diagrama Circular - Distribución de Frecuencia Relativa</h4>
                <img src="{{ graficos }}" alt="Diagrama Circular" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h4>Diagrama de Barras - Frec. absoluta</h4>
                <img src="{{ graficos }}" alt="Diagrama de Barras" class="img-fluid">
            </div>
        </div>

        <h3 class="mt-4">Medidas de Centralidad y Dispersión</h3>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Medida</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Media aritmética</td>
                    <td>{{ medidas.media_aritmetica }}</td>
                </tr>
                <tr>
                    <td>Moda</td>
                    <td>{{ medidas.moda }}</td>
                </tr>
                <tr>
                    <td>Mediana</td>
                    <td>{{ medidas.mediana }}</td>
                </tr>
                <tr>
                    <td>Varianza</td>
                    <td>{{ medidas.varianza }}</td>
                </tr>
                <tr>
                    <td>Desviación estándar</td>
                    <td>{{ medidas.desviacion_estandar }}</td>
                </tr>
                <tr>
                    <td>Coef. de asimetría (1)</td>
                    <td>{{ medidas.coef_asimetria_1 }}</td>
                </tr>
                <tr>
                    <td>Coef. de asimetría (2)</td>
                    <td>{{ medidas.coef_asimetria_2 }}</td>
                </tr>
                <tr>
                    <td>Coef. de asimetría (3)</td>
                    <td>{{ medidas.coef_asimetria_3 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
