{% extends 'layouts/base.html' %}

{% block content %}

<h1>about</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates corporis repellendus laudantium, tempore, tenetur magnam possimus, hic nihil quisquam soluta fuga molestiae delectus accusantium nobis atque! A doloribus neque dicta, beatae doloremque molestias in quo ratione nesciunt repellat placeat aperiam quis animi dolore, similique quisquam perferendis explicabo ducimus totam culpa, distinctio quaerat exercitationem. Repellendus, dignissimos non distinctio, iste inventore fugit alias, aut voluptate aliquam vitae minima reiciendis! Eligendi iusto aliquam debitis perspiciatis amet minus, mollitia accusamus eaque error nostrum, culpa, odio praesentium unde voluptatibus earum quasi porro nisi molestias pariatur ratione. Deleniti laboriosam iste possimus eligendi illo assumenda incidunt ipsa.</p>

{% endblock %}